<h1><%= @doctor.name %></h1>
<h3>Specialty: <%= @doctor.specialty %></h3>
<h3>Education: <%= @doctor.university %></h3>
<h2>Hospital they work at: <%= @doctor.hospital.name %></h2>
<%= render partial: "patients", locals: { doctor: @doctor } %>
